{% extends 'index.html' %}
  {% block title %}  About    {% endblock title %}
{% block first %}

  {{ student_info }}

<br><br>

<h2>HTML Table</h2>

<table>
  <tr>
    <th>Roll Number</th>
    <th>Name</th>
    <th>Address</th>
    <th>Mobile</th>
  </tr>

{% for student in student_info %}
     <tr>
   
  
   {% for i in student %}
     <td>{{i}} </td>   
     {% endfor %}   
   
  </tr>
  {% endfor %}

  {% if myvalue == 90 %}

    <h1>my message</h1>
 
  {% elif myvalue2 == 30 %}

    <h1>my new  message</h1>

  {% else %}

    <h1>Alternate message</h1>
  
  {% endif %}


   













{% endblock first %}